@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #2f2f2f;
  --gray-dark: #484848;
  --gray-light: #bbbbbb;
  --gray-text: #dedede;
  --violet: #a119ff;
  --violet-dark: #6a00b3;
}

body {
  background: var(--violet);
  color: var(--white);
}

.h1 {
  @apply font-black lg:text-6xl text-center md:text-5xl text-4xl;
}

.p {
  @apply font-[500] lg:text-2xl text-xl text-center text-white/85;
}

.btn {
  @apply px-6 py-3 rounded-2xl font-semibold text-lg transition duration-250;
}

.btn-primary {
  @apply bg-white/90 text-black hover:bg-white;
}

.btn-secondary {
  @apply bg-transparent border-2 border-white/90 text-white hover:bg-white hover:text-black;
}
